/**
 * Set up here the general appearance of the theme.
 */
//  변수선언해주는 문서

$themeColor: map-get($theme, themeColor) !default;
$primaryDark: map-get($theme, primaryDark) !default;
$accentDark: map-get($theme, accentDark) !default;
$lightGray: map-get($theme, lightGray) !default;
$texts: map-get($theme, texts) !default;

// Breakpoints
// 중간점
$breakpoints: (
  // sm: 37.5rem,
  sm: 768px,
  pc: 1024px
);

// Margins
$rowMargin: 10px;
$itemMargin: 15px;

// Sizes
$itemMinWidth: 300px;

// Settings
$maxItemsPerRow: 6;
